<div id="products_table">
  <% if @csv_data.present? %>
    <%= render partial: "products_table", locals: { csv_data: @csv_data } %>
  <% else %>
    <p>No data available. Please upload a CSV file.</p>
  <% end %>
</div>
