<h1>Associate Suppliers with Products</h1>

<!-- File Upload Form -->
<%= form_with url: import_products_path, method: :post, multipart: true, class: "mb-4" do |f| %>
  <p>
    <%= f.file_field :file, class: "form-control" %>
  </p>
  <p>
    <%= f.submit "Upload CSV", class: "btn btn-primary" %>
  </p>
<% end %>

<!-- Render the products table -->
<%= render "products_table", products: @products, csv_data: @csv_data %>
